<div class="main-box">
  <div class="bottom-line">
    <h1><%= @article.title %></h1>
    <div>
      <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_article_path(@article) %>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, article_path(@article), method: :delete, data: { confirm: "Are you sure?" }  %>
    </div>
  </div>
  <p><%= @article.content %></p>
</div>
